$colorGreyLight: #F6F6F6;
$colorGrey: #999999;
$colorGreyShade: #666666;
$colorPrimary: #A65CF0;
$colorPrimaryLight: #C998FB;
$colorPrimaryDark: #7033AC;
$colorSecondary: #FF862F;
$colorSecondaryLight: #FFBD59;
$colorSecondaryDark: #BB370E;